@import "./_mixin.scss";
@import "./_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300;400;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans Mono", monospace;
  scroll-behavior: smooth;
  // transform-style: preserve-3d;
}

// start common class

.mr-5 {
  margin-right: 5px;
}
// end common class

.modal-upload--input__video {
  input {
    ::before {
      content: "hehe";
      width: 100px;
      height: 100px;
    }
    visibility: hidden;
  }
}

.wrapper-table {
  position: relative;
}

.nextui-table-container {
  height: 100%;
  max-height: 500px;
  // min-height: 500px;
  overflow: auto;
}
.nextui-table-header-row {
  position: sticky;
  top: 0;
  z-index: 250;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

// PAGINATION
.pagination {
  display: flex;
}

.pagination p {
  cursor: pointer;
  float: left;
  padding: 8px 16px;
  margin: 0 1px;
  text-decoration: none;
  background-color: silver;
  border-radius: 10px;
  &:nth-child(1),
  &:nth-last-child(1) {
    background-color: unset;
  }
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.select-selected {
  background-color: DodgerBlue;
}

.custom-select {
  min-width: 50px;
  max-width: 500px;
  width: 100%;
  height: 25px;
  border-radius: 8px;
  position: relative;
  > select {
    display: none !important;
  }
  ::after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
}

.custom-phone-wrapper {
  position: relative;
  height: 40px;
  border-radius: 0.75rem;
  .custom-phone-select {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
  }
  .custom-phone-input {
    position: absolute;
    left: 80px;
    width: 260px !important;
    height: 35px;
    label {
      background-color: unset;
    }
  }
}

// start scroll to top section
.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #551b54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #fff;
  color: #551b54;
  border: 2px solid #551b54;
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

// end scroll to top section

// start rich editor

.toolbarClassName {
}
.editorClassName {
  max-height: 200px;
  border-radius: 10px !important;
}

.wrapperClassName {
  background-color: silver !important;
}
// end rich editor

// start comment section
.custom-comment__container {
  position: relative;
  .custom-border__link {
    display: block;
    position: absolute;
    top: 20px;
    width: 12px;
    height: calc(100% - 100px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
  }
  .custom-comment__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .comment-user__avatar {
      position: relative;

      .hori-border {
        position: absolute;
        top: 20px;
        left: -12px;
        width: 15px;
        height: 4px;
      }
    }
    .custom-comment-section {
      width: 100%;
      display: block;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 20px;
      .custom-comment__action {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
      }
      .custom-comment__text {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-right: 20px;

        &:hover {
          transform: scale(1.1);
        }
      }
      .edit {
        color: #0072f5 !important;
      }
      .reply {
        color: #0072f5 !important;
      }
    }
  }
}

// end comment section

// start header search
.content-wrapper__search {
  position: relative;

  .content__search {
    display: none;
    position: absolute;
    width: 600px;
    height: 500px;
  }

  .show {
    display: block;
  }
}

// start 404 page

.custom__404page {
  min-height: calc(100vh - 76px);
  background: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5% 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

// end 404 page
